<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="GestionnaireMediatek.Properties.Settings.mediatekConnectionString"
             connectionString="server=localhost;user id=root;password=;database=mediatek86;SslMode=none"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
